* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-list, .favorites {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.book-details {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: space-evenly;
}

.book {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: all .3s ease;
}

img:hover {
    transform: scale(1.1);
}

button {
    padding: 10px;
    background-color: black;
    width: 300px;
    border-radius: 5px;
    color: white;
    margin: 20px 0;
}

a {
    color: white;
    text-decoration: none;
}